{% extends 'app/base.html' %}
{% load static %}
{% block title %}Buy Now{% endblock title %}
{% block main-content %}
<div class="container my-5">
 <div class="row">
  <h3>Welcome {{request.user|title}}</h3>
  <div class="col-sm-2 border-end">
   <ul class="list-unstyled">
    <li class="d-grid"><a href="{% url 'profile' %}" class="btn">Profile</a></li>
    <li class="d-grid"><a href="{% url 'address' %}" class="btn btn-primary">Address</a></li>
   </ul>
  </div>
  <div class="col-sm-9 offset-sm-1">
   <div class="row">
    
    {% for add in address %}
        {% if request.user %}
            <div class="col-sm-6">
                <div class="card">
                    <div class="card-body">
                        <h3>Address {{forloop.counter}} </h3>
                        <p>Name: {{add.name}} </p>
                        <p>Locality: {{add.locality}} </p>
                        <p>City: {{add.city}} </p>
                        <p>ZipCode: {{add.zipcode}} </p>
                        <p>State: {{add.state}} </p>
                        <a href="{% url 'profile-edit' add.id %}" class="btn btn-warning mt-4">Edit</a>
                        <a href="{% url 'address-delete' add.id %}" class="btn btn-danger mt-4">Delete</a>
                    </div>
                </div>
            </div>
        {% endif %}
    {% endfor %}
    
   </div>
  </div>
 </div>
</div>
{% endblock main-content %}