{% extends 'app/base.html' %}
{% load static %}
{% block title %}Buy Now{% endblock title %}
{% block main-content %}
<div class="container my-5">
 <div class="row">
  <div class="col-sm-3">
    <div class="list-group">
        <a href="{% url 'mobile' %}" class="list-group-item list-group-item-action" aria-current="true">All Mobile</a>
        <a href="{% url 'mobile-brand' 'iphone' %}" class="list-group-item list-group-item-action" aria-current="true">Iphone</a>
        <a href="{% url 'mobile-brand' 'samsung' %}" class="list-group-item list-group-item-action" aria-current="true">Samsung</a>
        <a href="{% url 'mobile-brand' 'below-10000' %}" class="list-group-item list-group-item-action" aria-current="true">Below 10000</a>
        <a href="{% url 'mobile-brand' 'above-10000' %}" class="list-group-item list-group-item-action" aria-current="true">Above 10000</a>
    </div>
  </div>
  <div class="col-sm-8">
    <div class="row">
        {% for m in mobile %}
            <div class="col-sm-4 text-center mb-4">
                <a href="{% url 'product-detail' m.id %}" class="btn">
                    <div class="item">
                        <img src=" {{m.product_image.url}} " alt="" height="300">
                        <div class="fw-bold">{{m.title}}</div>
                        <div class="fw-bold">{{m.discount_price}}
                            <small class="fw-light text-decoration-line-through"> {{m.selling_price}} </small>
                        </div>
                    </div>
                </a>
            </div>
        {% endfor %}
    </div>
  </div>
 </div>
</div>
{% endblock main-content %}